@model IEnumerable<YemekTarifleriUygulamasi.Models.Recipe>

@{
    ViewData["Title"] = " Arama Sonuçları";
}

<h2 class="text-center my-4">Arama Sonuçları</h2>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@item.ImagePath" alt="@item.Title" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">@item.Title</h3>
                        <p class="card-text">
                            @if (!string.IsNullOrEmpty(item.Description) && item.Description.Length > 100)
                            {
                                @item.Description.Substring(0, 100)
                            }
                            else
                            {
                                @item.Description
                            }
                        </p>
                        <a href="@Url.Action("Details", "Recipe", new { id = item.Id })" class="btn btn-primary">Devamını Gör</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="text-center">Aramanıza uygun tarif bulunamadı.</p>
}
